<h1>hi from index<h1>
<%= link_to 'New Recipe', new_recipe_path %>
  <ul>
    <% @recipes.each do |recipe| %>
      <li>
        <%= link_to recipe.title, recipe_path(recipe) %>
        <%= recipe.description %>
      </li>
    <% end %>
  </ul>

